input{
    width:100%;
border-radius: 2vw;
}
.main{
margin-top: 2vw;
    display:flex;
}
.sidebar{
background-color: black;
color:white;
width:9vw;
font-size: 1.3vw;
padding: 1vw;
}
.l{
margin-top: 6vw;
padding: 0.2vw;
}

.s{
    margin: 0.5vw;
    padding: 0.2vw;
}
.I{
    width:40vw;
    height:1.5vw;
}
.la{
    font: size 1vw;
    margin:1vw;
}

.list{
    background-color: rgb(159, 156, 156);
    color: black;
    border-radius: 1vw;
    padding: 1.5vw;

}
.delete{
    font-size: 1vw;
    margin:1vw;
    padding: 0.5vw;
    border-radius: 1vw;
    color: beige;
    background-color:rgb(64, 95, 107);
}
.edi{
    height: 280px;
}
.send{
    font-size: 1.5vw;
    margin:2vw;
    padding: 0.5vw;
    border-radius: 1vw;
    color: beige;
    background-color:rgb(64, 95, 107);
}
.send:hover{
    background-color:rgb(101, 149, 168);
}